@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300; /* Default font weight */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-100;
  transition: background-color 1s ease-in-out;
}

body.dark {
  background-color: hsl(207, 26%, 17%);
  color: #fafafa(0, 0%, 100%);
}

body.dark .bg-white {
  background-color: hsl(209, 23%, 22%);
}

body.dark .text-gray-900 {
  color: #fafafa(0, 0%, 100%);
}

/* General button hover transition */
button {
  transition: all 0.3s ease-in-out;
}

/* Search input focus and hover transition */
input {
  transition: all 0.3s ease-in-out;
}

/* Dropdown select box transition */
select {
  transition: all 0.3s ease-in-out;
}

/* Article or card hover effect */
.article {
  transition: all 0.3s ease-in-out;
}

